<ul class="hide-for-small vertical tabs">

<p><strong>Learn Anything at Anytime from Anyplace.</strong></p>

<p>We don’t need to tell you how screwed our current education system is. Everybody knows how screwed it is. There is no dearth of talent in us, still we are deprived of the high quality education we deserve. We are forced to choose our field of education ; not on the basis of our interests but on the basis of our financial conditions and social trends. We are bounded by our branch, curriculum, place, time; by the entire system. Phodphad! aims to solve these acute problems. Phodphad! aims to bring a radical shift in the current education system from standardized colleges to personalised learning : thus, creating conditions where people’s natural talent can flourish. </p>

<p>Phodphad! is an online learning management app. Through Phodphad!, you can easily access the best video lectures and tutorials on the web from the top most universities (be it Stanford, MIT or IIT) and instructors. Phodphad! will help you curate and manage your online learning of everything be it Arts, Biology & Life Sciences, Business & Management, Chemistry, Computer Science, Economics & Finance, Engineering , Food and Nutrition , Health & Society , Humanities , Information, Tech & Design, Law , Mathematics , Medicine, Music, Film, and Audio, Physics, Social Sciences or Statistics and Data Analysis. </p>

<strong>Phodphad! comes from the world “phodu” which means a genius. Phodphad! will make you the Phodu! Are you ready to be the Phodu?</strong>
</ul>
<ul>
<li>
    <a href="#">Links</a>
    <ul>
      <li><a href="http://www.phodphad.com/web/">Web Development And Design</a></li>
    </ul>
</li>
</ul>
