<div id="home">
  <div id="homeSearch">
    <div id="innerSearch">
      <form class="search-form" ng-submit="location.path('/search/' + query)">
        <input ng-model="query" type="text" placeholder="Laws of Motion">
        <br>
        <button class="button expand">Search To Learn</button>
      </form>
    </div>
    <h3>We don’t need to tell you how screwed our current education system is. Everybody knows how screwed it is.<br> 
    Bring a radical shift in your education process through personalised learning. <br>
    <strong>Learn Anything at Anytime from Anyplace and At your own pace.</strong><br> 
    Create conditions where your natural talent can flourish.
    </h3>
  </div>
</div>
