<div id="home">
  <div id="homeSearch">
    <div id="innerSearch">
      <form class="search-form" ng-submit="location.path('/search/' + query)">
        <input ng-model="query" type="text" placeholder="Laws of Motion">
        <br>
        <button class="button expand">Search To Learn</button>
      </form>
    </div>
    <a href="https://nikhilda.ga" target="_blank">Education Consultancy</a> &nbsp;&nbsp;
    <a href="https://bestjyotish.com" target="_blank">Astrology Consultancy</a>
  </div>
</div>
